.App {
  text-align: center;
}

.Nav {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid navy;
  .Nav-left {
    flex-grow: 3;
    justify-content: space-around;
  }
  .Nav-right {
    flex-grow: 2;
    justify-content: flex-end;
  }
  ul {
    display: flex;
    flex-direction: row;
    li {
      color: white;
      margin-right: 20px;

      a {
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;

        &:hover {
          color: cyan;
        }
      }
    }
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      font-size: 20px;
      width: 6rem;
      height: 2rem;
      font-weight: bold;
      padding: 5px;
      &:hover {
        color: cyan;
      }

      border: none;
      background: white;
    }
  }
}
