.Block {
  display: flex;
  flex-direction: column;
  h1 {
  }

  button {
  }

  .textBox {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
    b {
      flex: 1;
      justify-content: flex-start;
      margin-right: 20px;
      font-size: 24px;
    }

    .commentBox {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      margin-top: 10px;
      p {
        margin: 5px;
      }
    }
  }
}
